

.zigzag {
    height: 30px;
    width: 100%;

    background: linear-gradient(#444 0%, transparent 0%),
  		linear-gradient(-45deg, #555 42%, transparent 42%) 0 42%,
  		linear-gradient(45deg, #444 42%, #000 42%) 0 50%;
  	background-repeat: repeat-x;
  	background-size: 1px 100%, 40px 40px, 40px 40px;
  }

header{
  width: 80%;
  display:flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

}

.titleName{
  width: 100%;
  background-color: #000;
  padding-bottom: 2em;
  padding-top: 2em;
  margin: 0;
  text-align: center;
}

body{
  font-family: 'Source Code Pro', monospace;

}
h1{
  font-family: 'Nosifer', cursive;
  font-size: 42px;
  color: #FFF;
  align-self: center;
  text-shadow: -2px 0 #800, 0 1px #800, 2px 0 #800, 0 -1px #800;

  }

  h3{
    font-size: 32px;
    text-transform: uppercase;

  }


  #information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em
  }

.information{
  width: 80%;
  height: 100vh;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  background:#555;
  padding-top: 3em;
  padding-bottom: 3em;

}

.farleft{
  width: 30%;
}

.farRight{
  width: 30%;
  padding-left: 1em;
  border-left: 1px solid gray;
}

img{
  width: 110px;
  height:110px;
  border-radius: 50%;
  padding: 10px

}

p{
  font-family: 'Source Code Pro';
  color: #400;
  font-size: 20px;

}

a{
  text-decoration: none;
  color: #999
}

ul{
  text-decoration: none;
}
